<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
        <link href="/parveen/css/parveen.css" rel="stylesheet" type="text/css">
        <script language="javascript" src="/parveen/js/validate.js"></script>  
        <%@ page import="java.util.* "%>
        <%@ page import=" javax. servlet. http. HttpServletRequest" %>
        <%@ taglib prefix="c" uri="http://java.sun.com/jstl/core" %>  
        <%@ page import="ets.domain.mrs.business.MrsTO" %>  
    </head>
    <script>

        function generateMRS(name)
        {
            if (document.generateMrs.mrsJobCardNumber.value == '0') {
                alert("Please Select Job Card Number");
                document.generateMrs.mrsJobCardNumber.focus();
            }
            else if (name == 'generate') {

                document.generateMrs.action = '/parveen/generateMrsPage.do';
                document.generateMrs.submit();
            } else if (name == 'search') {
                if (isSelect(document.generateMrs.mrsJobCardNumber, 'Job Card No')) {
                } else {
                    document.generateMrs.action = '/parveen/searchMrs.do';
                    document.generateMrs.submit();
                }
            }

        }
        function setFocus()
        {
            var jobcardId = '<%=request.getAttribute("jobcardId")%>';
            if (jobcardId != 'null') {
                document.generateMrs.mrsJobCardNumber.value = jobcardId;
            }

        }
        function checkISValid(jcno) {

            //alert(document.getElementById("mrsJobCardNumber1"));
            //alert(document.getElementByName("mrsJobCardNumber1").length);
            var c = 0;
            var JcNos = document.getElementsByName("mrsJobCardNumber1");

            for (var i = 0; i < JcNos.length; i++) {
                if (parseInt(JcNos[i].value) == parseInt(jcno))
                    c++;
            }
            if (c == 1) {
                //
            } else {
                alert("Enter Valid JobcardNo");
                document.generateMrs.mrsJobCardNumber.value = '';
                document.generateMrs.search.focus();
                document.generateMrs.mrsJobCardNumber.focus();
            }

        }

    </script>



    <body onload="setFocus()">
        <form name="generateMrs"  method="post" >


            <%@ include file="/content/common/path.jsp" %>

            <!-- pointer table -->

            <!-- message table -->

            <%@ include file="/content/common/message.jsp"%>


            <table id="bg" align="center" border="0" cellpadding="0" cellspacing="0" width="400" class="border">
                <tbody><tr>
                        <td colspan="4" class="contenthead" height="30"><div class="contenthead">Generate MRS</div></td>
                    </tr>
                    <tr>
                        <td class="text2" height="30">Job Card No</td>
                        <td class="text2" height="30"><input class="textbox" id="mrsJobCardNumber" onchange="checkISValid(this.value);"    name="mrsJobCardNumber" >
                        </td>




                <c:if test = "${jobCardlist != null}" >
                    <c:forEach items="${jobCardlist}" var="mfr">
                        <input  name="mrsJobCardNumber1" id="mrsJobCardNumber1" value='<c:out value="${mfr.jobCardId}" />' type="hidden">
                    </c:forEach >
                </c:if> 


                </tr>



                </tbody>
            </table>

            <br>
            <center>
                <input type="button" class="button" value="Go" name="search" onClick="generateMRS(this.name);">
                <input type="button" class="button" value="Generate MRS" name="generate" onClick="generateMRS(this.name);">
            </center>
            <br>

            <c:if test = "${mrsList != null}" >
                <% 
                int index=0; 
                ArrayList mrsList = (ArrayList) request.getAttribute("mrsList"); 
                if(mrsList.size() != 0){
                %>
                <div  id="tabVisible" >



                    <table align="center"  width=600" border="0" cellspacing="0" cellpadding="0" class="border">

                        <tr>
                            <td class="contentsub" height="30"><div class="contentsub">S No</div></td>
                            <td class="contentsub" height="30"><div class="contentsub">MRS No</div></td>                    
                            <td class="contentsub" height="30"><div class="contentsub">Technician</div></td>
                            <td class="contentsub" height="30"><div class="contentsub">Date</div></td>
                            <td class="contentsub" height="30"><div class="contentsub">Approval Status</div></td>
                        </tr>
                        <c:forEach items="${mrsList}" var="service"> 
                            <%
                            String classText = "";
                            int oddEven = index % 2;
                            if (oddEven > 0) {
                            classText = "text2";
                            } else {
                            classText = "text1";
                            }
                            %>
                            <tr>
                                <td  height="30" class="<%=classText%>"><%=index+1%></td>
                                <td  height="30" class="<%=classText%>"><c:out value="${service.mrsId1}"/></td>
                            <td  height="30" class="<%=classText%>"><c:out value="${service.empName}"/> </td>
                            <td  height="30" class="<%=classText%>"><c:out value="${service.mrsCreatedDate}"/> </td>
                            <td align="center"  height="30" class="<%=classText%>"><a href="/parveen/mrsStatus.do?status=<c:out value="${service.status}"/>&mrsId=<c:out value="${service.mrsId1}"/>&mrsJobCardNumber=<c:out value="${service.mrsJobCardNumber}"/>"><c:out value="${service.status}"/></a></td>
                            <%index++;%>
                        </c:forEach>
                        <tr>                                              
                    </table>
                    <br>



                </div>
                <%
                }
                %>

            </c:if>

        </form>
    </body>
</html>
