
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        
        <link href="/parveen/css/parveen.css" rel="stylesheet" type="text/css">
        <%@ taglib prefix="c" uri="http://java.sun.com/jstl/core" %>  
        <%@ page import="ets.domain.mrs.business.MrsTO" %>
        <script language="javascript" src="/parveen/js/validate.js"></script>
        <title>MRSList</title>
    </head>
    <body onload="document.purchase.woId.focus();">
        
        
        <script>
        function submitPage() {
            if( (document.purchase.woId.value != '') && ( !isFloat(document.purchase.woId.value) )  ) {            
            document.purchase.action="/parveen/handleAlterRCWOPage.do"
            document.purchase.submit();
            }
        }
               
            
        </script>
        
        <form name="purchase"  method="post" >                    
<table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" style="margin-top:0px;" >
<tr>
<td height="30" align="left" style="padding-right:5px; "><span class="pathText" >Modify WO</span> </td>
</tr>
</table>
            <!-- pointer table -->
          
            <!-- message table -->           
            <%@ include file="/content/common/message.jsp" %>    
           
                    
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="550" id="bg" class="border">
                <tr>
                    <td colspan="9" height="80" align="center" class="contenthead" ><div class="contenthead">MODIFY WO </div></td>
                </tr>
                
                <tr>
                    <td class="text1" height="30">Work Order  No.</td>
                    <td class="text1" height="30"> <input type="text" name="woId" value="" class="textbox"> </td>
                </tr>                                                 
            </table>
            
            <br>                                                
             <center>   
            <input type="button" class="button" name="Search" value="Search" onClick="submitPage();" > &nbsp;            
            </center>                           
        </form>
    </body>
</html>
