<%--
    Document   : alterrole
    Created on : Jul 21, 2008, 7:19:37 PM
    Author     : vidya
--%>

<%@page contentType="text/html" pageEncoding="UTF-8"%>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<%@ taglib prefix="c" uri="http://java.sun.com/jstl/core_rt" %>
<%@ page import = "com.ent.bu.domain.users.bus.UserTO" %>
<%@ page import="java.util.*" %>
<html>
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
             <link href="css/parveen.css" rel="stylesheet" type="text/css">
    <script language="javascript">
        function submitpage(value)
        {
var roleName = document.getElementsByName("roleName");

for(var b = 0;b<roleName.length;b++){
if(roleName[b].value == ""){
    alert("rolename cannot be left blank");
    document.alterrole.roleName[b].focus();
}
}
var users = document.getElementsByName("selectedUsers");
var selected = 0;
for(var a=0; a<users.length ; a++ )
{
if(users[a].checked)
selected++;
}
if(selected == 0)
{
alert("Please Select Any one and then Proceed");

}

else if (value == 'save') {


document.alterrole.action = 'userServlet';
document.alterrole.reqfor.value='modifyroles';
document.alterrole.submit();
}
}
    </script>
</head>
<body background="">
    <form name="alterrole" method="post">


<br>
<table align="center" width="550" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td height="30" class="contenthead" colspan="5">Alter Role Types</td>
    </tr>
<tr>
<td class="contentsub" height="30">Role Id</td>
<td class="contentsub" height="30">Rolename</td>
<td class="contentsub" height="30">Description</td>
<td class="contentsub" height="30">Status</td>
<td class="contentsub" height="30">Select</td>
</tr>
<%

int index = 0;
 ArrayList usernames = (ArrayList) request.getAttribute("roleRecord");
%>
<c:if test = "${roleRecord != null}">
<c:forEach items="${roleRecord}" var="user">
<%
String bgColor= "";
int oddEven = index%2;
if( oddEven >0 )
{
%>
<tr>


<td height="30" class="text1"><input type="hidden" name="roleId" value='<c:out value="${user.roleId}"/>'> <div align="center"><c:out value="${user.roleId}"/></div> </td>
<td height="30" class="text1"><input type="textbox" name="roleName" class="textbox" value='<c:out value="${user.roleName}"/>'></td>
<td height="30" class="text1"><textarea class="textbox"  class="text1" name="typedesc"><c:out value="${user.roledesc}"/> </textarea> </td>
<td height="30" class="text1"> <div align="center"><select name="activeInd" class="textbox">
<c:choose>
<c:when test="${user.activeInd == 'Y'}">
<option value="Y" selected>Active</option>
<option value="N">InActive</option>
</c:when>
<c:otherwise>
<option value="Y">Active</option>
<option value="N" selected>InActive</option>
</c:otherwise>
</c:choose>
</select></div> </td>
<td class="text1" height="30"> <input type="checkbox" name="selectedUsers" value='<%= index %>' > </td>
</tr>
<%
}
else
{
%>
<tr>

<td height="30" class="text2"><input type="hidden" name="roleId" value='<c:out value="${user.roleId}"/>'> <div align="center"><c:out value="${user.roleId}"/></div> </td>
<td height="30" class="text2"><input type="text" name="roleName" class="textbox" value='<c:out value="${user.roleName}"/>'></td>
<td height="30" class="text2"><textarea class="textbox"  class="text2" name="typedesc"><c:out value="${user.roledesc}"/> </textarea> </td>
<td height="30" class="text2"> <div align="center"><select name="activeInd" class="textbox">
<c:choose>
<c:when test="${user.activeInd == 'Y'}">
<option value="Y" selected>Active</option>
<option value="N">InActive</option>
</c:when>
<c:otherwise>
<option value="Y">Active</option>
<option value="N" selected>InActive</option>
</c:otherwise>
</c:choose>
</select></div></td>
<td class="text2" height="30"> <input type="checkbox" name="selectedUsers" value= '<%= index %>' > </td>
</tr>
<%
}

index++;
%>
</c:forEach>
</c:if>
</table>
<br>
<center>

<input type="button" name="save" value="Save" onClick="submitpage(this.name)" class="button" />
<input type="hidden" name="reqfor" value="modifyroles" />
</center>


    </form>
</body>
</html>
