img {
	border:0px none;
}

ul.menu, ul.menu ul {
  list-style-type:none;
  margin: 0;
  padding: 0;
  width: 15em;
}

ul.menu a {
  display: block;
  text-decoration: none;
}

ul.menu li {
  margin-top: 1px;
}

ul.menu li a, ul.menu ul.menu li a {
  background: #6e6c6c;
  color: #fff;
  padding: 0.5em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

ul.menu li a:hover, ul.menu ul.menu li a:hover {
  background: #96a1b3;
}

ul.menu li ul li a, ul.menu ul.menu li ul li a {
  background: #ccc;
  color: #000;
  padding-left: 5px;
}

ul.menu li ul li a:hover, ul.menu ul.menu li ul li a:hover  {
  background: #e5e9ea;
  border-left: 5px #60a3e8 solid;
  padding-left: 5px;
}

ul.menu li ul li a:active{
  background: #e5e9ea;
  border-left: 5px #60a3e8 solid;
  padding-left: 5px;
}


ul.menu ul.menu li a:hover {
    border-left: 0;
    padding-left: 0.5em;
}

ul.menu ul.menu {
	background:url(../images/arrow_down.png) no-repeat 0 0;
	width:16px;
	height:10px;
    border-left: 5px #f00 solid;
}
ul.menu a.active, ul.menu ul.menu li a.active, ul.menu a.active:hover, ul.menu ul.menu li a.active:hover {
    text-decoration: underline;
    background:url(../images/icon_highlight.png) no-repeat 155px 5px #7f8ba5;
}
ul.menu a.high, ul.menu ul.menu li a.high {
    text-decoration: underline;
    background: #E3E4FA;
    color:#342826;
}
div.panel {
    border: 1px #000 solid;
    padding: 5px;
    margin-top: 1px;
}

ul.menu div.panel a, ul.menu div.panel li a:hover  {
    display :inline;
    color: #666;
    background: none;
    margin: 0;
    padding: 0;
    border: none;
    font-weight: bold;
}
ul.menu div.panel a:hover {
    color: #000;
    text-decoration: underline;
}


.code { border: 1px solid #ccc; list-style-type: decimal-leading-zero; padding: 5px; margin: 0; }
.code code { display: block; padding: 3px; margin-bottom: 0; }
.code li { background: #ddd; border: 1px solid #ccc; margin: 0 0 2px 2.2em; }
.indent1 { padding-left: 1em; }
.indent2 { padding-left: 2em; }
.indent3 { padding-left: 3em; }
.indent4 { padding-left: 4em; }
.indent5 { padding-left: 5em; }
.indent6 { padding-left: 6em; }
.indent7 { padding-left: 7em; }
.indent8 { padding-left: 8em; }
.indent9 { padding-left: 9em; }
.indent10 { padding-left: 10em; }

.arrow2 {
	background:url(../images/arrow_down.png) no-repeat 0 0;
	width:16px;
	height:10px;
}


