/*
Theme Name: VAg inc Theme
Theme URI: http://www.vagarchitects.com
Description: This is a blank starter WordPress Theme template -- WordPress v3.2.1
Author: Tony D'Agostino
Author URI: http://tonyd.net
Version: 2
*/

@media screen {

* { margin: 0px; padding:0px; border:0px; }
html {background: #646464;}
body { text-align: left; width: 1000px; margin: 0 auto; padding: 0; }
body { font: 12px/1.4 "Century Gothic", Arial, Helvetica, sans-serif; color: #f5f5f5; }
article, aside, figure, footer, header, nav, section { display: block; }

h1, h2, h3, h4, h5, h6 { margin: 0 0 2px 0; font-weight: normal; }
h2 { font-size: 24px; color:#f5f5f5; }
h3 { font-size: 20px; color:#f5f5f5; }
h4 { font-size: 16px; color:#f5f5f5; }
h5 { font-size: 14px; color:#f5f5f5; padding: 0; }
h6 { font-size: 10px; color:#f5f5f5; }


#page-wrap { position:absolute; background: url(images/MiddleBG.jpg) repeat-x #4f4f4f; height:561px; width:1000px; margin-top: -281px; top:50%; z-index:10; -moz-box-shadow: 6px 6px 10px #282828; -webkit-box-shadow: 6px 6px 10px #282828; box-shadow: 6px 6px 10px #282828; border: 2px solid #333333; }

#logo { position:absolute; height:284px; width:116px; top: 5px; left: 5px; background:url(images/Logo.png) no-repeat; z-index:50; }
#logo a { display: block; height:284px; width:116px; text-indent:-9999px; text-decoration: none; overflow:hidden; }
#logo2 { position:absolute; top: 5px; left:152px; }

aside { position:absolute; top: 0; left: 0; background:url(images/asidebkground.png); height:530px; width:160px; border-right:2px solid #333333; z-index:10000; overflow:hidden; }
#main-content { position: relative; top: 0; left: 160px; width: 800px; height: 530px; background-color:#C8C8C8; z-index: 20; overflow:hidden; }

#header {position:relative; top:0;}

#copyright { position: absolute; top: 10px; left: 6px; color: #f5f5f5; }
/* #construction { position: absolute; top: 5px; left: 275px; font-weight: bold; color: #f5f5f5; }*/

/* #social-container { position: absolute; bottom: 7px; left: 920px; } */
#awd_facebook_like_button-2 { position:absolute; top: 6px; left: 700px; z-index: 100; }
.fb-send { position:absolute; top: 8px; left: 640px; z-index: 100; }
.fb-findus { position:absolute; top: 7px; left: 614px; z-index: 100; }
ul#social-list { list-style:none; }
ul#social-list li { display: inline-block; }
li#facebook { background:url(images/facebook_16.png) no-repeat; padding: 0; margin:0; width: 16px; height:16px; text-indent: -9999px }
li#twitter { background:url(images/twitter_16.png) no-repeat; padding: 0; margin:0; width: 16px; height:16px; text-indent: -9999px }
li#linkedin { background:url(images/linkedin_16.png) no-repeat; padding: 0; margin:0; width: 16px; height:16px; text-indent: -9999px }

#dc_jqaccordion_widget-3-item { position: relative; left: 0px; width: 160px; }
#dc_jqaccordion_widget-3-item ul, #dc_jqaccordion_widget-3-item li { margin: 0; padding: 0; border: none; list-style: none; }
#dc_jqaccordion_widget-3-item li a { background:#666666; width: 160px; height: 19px; text-decoration:none; color:#f5f5f5; font-size: 12px; padding: 0 0 0 10px; margin: 2px 0 2px 0;  display:block; }
#dc_jqaccordion_widget-3-item ul ul li { margin: 0; padding: 0 0 0 10px; }
#dc_jqaccordion_widget-3-item ul a:hover { background: url(images/mnltbackground.png) no-repeat; width: 160px; height: 19px; color: #d31818; display:block; }
#dc_jqaccordion_widget-3-item li.current-menu-item a { color:#ff000; font-weight:bold; }
.dcjq-accordion ul li ul {display: none;}

#home { position:absolute; top:0px; left:0px; z-index:20; }
.sldshow { list-style: none;}


} /* END screen media */

@media print {

.do-not-print { display: none; }
#comments { page-break-before: always; }

body { width: 100% !important; margin: 0 !important; padding: 0 !important; line-height: 1.4; word-spacing: 1.1pt; letter-spacing: 0.2pt; font-family: Garamond,"Times New Roman", serif; color: #000; background: none; font-size: 12pt; }
h1,h2,h3,h4,h5,h6 { font-family: Helvetica, Arial, sans-serif; }
h1 { font-size: 19pt; }
h2 { font-size:17pt; }
h3 { font-size:15pt; }
h4,h5,h6 { font-size:12pt; }
code { font: 10pt Courier, monospace; }
blockquote { margin: 1.3em; padding: 1em; }
img { display: block; margin: 1em 0; }
a img { border: none; }
table { margin: 1px; text-align:left; }
th { border-bottom: 1px solid #333;  font-weight: bold; }
td { border-bottom: 1px solid #333; }
th, td { padding: 4px 10px 4px 0; }
caption { background: #fff; margin-bottom: 2em; text-align: left; }
thead { display: table-header-group; }
tr { page-break-inside: avoid; }
a { text-decoration: none; color: black; }

} /* END print media */